
<p>Dear {{name}},</p>
<p>Welcome to {{client_name}}! We are thrilled to have you join our platform and start your journey with us.</p>

<p>Here’s what you can do next:</p>
<ul>
  <li>Explore your dashboard: <a href="{{website_link}}">Ignitedge Portal</a></li>
  <li>Get started with our Research and Internship  Program </li>
</ul>
<p> If you have any questions or need assistance, feel free to contact us at <a href="mailto:{{support_email}}">{{support_email}}</a>. </p>
<p>Thank you for choosing {{client_name}}! We're excited to support you on your journey! </p><br>
<p>Best regards,<br>The {{client_name}} Team</p>
